# Introduction to Pandas

Dec 21,2020

In [1]:
# Dependencies
import pandas as pd

In [ ]:
bootcamp_univ=["UCLA", "UC Berkley", "UC Irvine", "University of Central Florida", "Rugers University"]

In [19]:
data_series = pd.Series(["UCLA", "UC Berkley", "UC Irvine", "University of Central Florida", "Rugers University"])

SyntaxError: invalid syntax (<ipython-input-19-9d0a3fceae8e>, line 2)

In [22]:
movies_dicts=[{"Title": "The Godfather","Year Rleased":1972},{"Title": "The Godfather","Year Rleased":1972}]
movie_df=pd.DataFrame(movies_dicts)
movie_df.values

array([['The Godfather', 1972],
       ['The Godfather', 1972]], dtype=object)

In [15]:
movies_dicts={"Title": ["The godfater", "The shawshank"], 
                        "Year": [1987, 1874]}
movies_series=pd.DataFrame(movies_dicts)
#movies_series["Year"].head(1)
movies_series[["Year", "Title"]].head(1)
#movies_series.describe()

   Year         Title
0  1987  The godfater